@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  /* light theme */
  --login-bg-color: #F5F5F4;
  --primary-color: #ffffff;
  --light-text: #6b7280;
  --mainPanel-bg-color: #F9FAFB;
  --light-border: #E5E7EB;

  --sidebar-bg: #ffffff;
  --navbar-bg: #ffffff;
  --text-color: #1f2937;
}

/* dark theme */
.dark {
  --login-bg-color: #0f0f0f;
  --primary-color: #1a1a1a;
  --light-text: #9ca3af;
  --mainPanel-bg-color: #030712;
  --light-border: #1F2937;

  --sidebar-bg: #1a1a1a;
  --navbar-bg: #1a1a1a;
  --text-color: #f3f4f6;
}

.table-row-style {
  @apply border-b border-gray-200 dark:border-gray-700 
         text-left px-4 py-2 
         text-gray-700 dark:text-gray-300;
}
