@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root{
  --login-bg-color: #F5F5F4;
  --primary-color: #ffffff;
  --light-text: #6b7280;
  --mainPanel-bg-color: #F9FAFB;
}

html, body, #root{
  height: 100%;
  width: 100%;
}
